/* mah style sheet  */

body{
	font-family: Ubuntu;
}

/*  */
.header-element{
    position:relative;
    overflow:hidden;
    display:table;
    width: 8%;
    top:0px;
    float:left;
}

.header{
    background-color: #33adff;
    background: linear-gradient(to top, #33adff, #66c2ff);
    position: fixed;
    display: table;
    top: 0px;
    left: 0px;
    height: 50px !important;
    width:100%;
    padding-left: 10%;
    z-index: 1000;
}

.header-main-element{
    background-color: #33adff;
    background: linear-gradient(to top, #33adff, #66c2ff);
    position: relative;
    display: table-cell;
	
	/* The following 3 lines make the text centered vertically. DO NOT CHANGE THE ORDER. Man css sucks */
	vertical-align: middle;
    line-height:50px; /* keep the same as height */
	text-align: center;
	font-size: 18px;
	
    float: left;
    height: 50px;
    width: 10%
    
}

.header-std-element{
    background-color: #33adff;
    background: linear-gradient(to top, #33adff, #66c2ff);
    position: relative;
	display: table-cell;
	
	/* The following 3 lines make the text centered vertically. DO NOT CHANGE THE ORDER. Man css sucks */
	vertical-align: middle;
    line-height:50px; /* keep the same as height */
	text-align: center;
	font-size: 16px;
	
    float: left;
    height: 50px;
    top: 0px;
    width: 5%;
}

a > .header-main-element{
	color: white;
	text-decoration: none;
	height: 100%;
}

a > .header-std-element{
	color: white;
	text-decoration: none;
}

.header-main-element:hover{
    background-color: #808080;
    background: #008ae6;
}

.header-std-element:hover{
    background-color: #808080;
    background: #008ae6;
}

.center{
	text-align: center;
}

.right{
	text-align: right;
}

.left{
	text-align: left;
}
/*  */
.row{
	display: flex;
    margin-left: 5%;
    margin-right: 5%;
	margin-top: 60px;
    width: 90%;
}

.col{
	flex: 1;
	padding: 1em;
}

/* only adds up to 49% (47 + 1% margin on both sides)
   This is because each element has a Teeeny tiny amount of white space  
   If we do 48% with 1% margin, we cannot fit 2 elements per line.
 */
.inline-half{
    position: relative;
    float: left;
    width: 47%;
    margin: 1%;
}

.inline-quarter{
	position: relative;
	float: left; 
	width: 22%;
	margin: 1%;
}

.inline-half > *{
	width:100%;
	height: auto;
}