/* mah style sheet  */

body{
    font-family: Ubuntu;
}

/*  */
.header-element{
    position:relative;
    overflow:hidden;
    display:table;
    width: 8%;
    top:0px;
    float:left;
}

.header{
    background-color: #33adff;
    background: linear-gradient(to top, #33adff, #66c2ff);
    position: fixed;
    display: table;
    top: 0px;
    left: 0px;
    height: 50px !important;
    width:100%;
    padding-left: 10%;
    z-index: 1000;
}

.header-main-element{
    background-color: #33adff;
    background: linear-gradient(to top, #33adff, #66c2ff);
    position: relative;
    display: table-cell;
    
    /* The following 3 lines make the text centered vertically. DO NOT CHANGE THE ORDER. Man css sucks */
    vertical-align: middle;
    line-height:50px; /* keep the same as height */
    text-align: center;
    
    /* makes font size dynamic with page resize, but only to a minimum of 14 point font. */
    font-size: calc(14px + .5vw);
    
    padding-left:15px;
    padding-right:15px;
    
    float: left;
    height: 50px;    
}

.header-std-element{
    background-color: #33adff;
    background: linear-gradient(to top, #33adff, #66c2ff);
    position: relative;
    display: table-cell;
    
    /* The following 3 lines make the text centered vertically. DO NOT CHANGE THE ORDER. Man css sucks */
    vertical-align: middle;
    line-height:50px; /* keep the same as height */
    text-align: center;
    
    /* makes font size dynamic with page resize, but only to a minimum of 12point font. */
    font-size: calc(12px + .3vw);/*.85vw;*/
    
    padding-left:15px;
    padding-right:15px;
    
    float: left;
    height: 50px;
    top: 0px;
}

/* The following 3 stylings produce an under */
.header-std-element, .header-main-element{
    position: relative;
    color: #000;
    text-decoration: none;
}

.header-std-element:before, .header-main-element:before{
				content: "";
				position: absolute;
				
				/* width 75%, 12.5% on left to give a 12.5% margin on both sides of underline */
				width: 75%;
				left: 12.5%;
				height: 2px;
				bottom: 10px;
				
				background-color: white;
				visibility: hidden;
				-webkit-transform: scaleX(0);
				transform: scaleX(0);
				-webkit-transition: all 0.5s ease-in-out 0s;
				transition: all 0.5s ease-in-out 0s;
			    }

.header-std-element:hover:before, .header-main-element:hover:before{
				      visibility: visible;
				      -webkit-transform: scaleX(1);
				      transform: scaleX(1)
				  }


.header-main-element, .header-std-element{
    color: white;
    height: 100%;
}

.header-main-element:hover, .header-std-element:hover{
				background-color: #808080;
				background: #008ae6;
			    }

.center{
    text-align: center;
}

.right{
    text-align: right;
}

.left{
    text-align: left;
}
/*  */
.row{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 60px;
    width: 90%;
}

.col{
    flex: 1;
    padding: 1em;
}

/* only adds up to 49% (47 + 1% margin on both sides)
   This is because each element has a Teeeny tiny amount of white space  
   If we do 48% with 1% margin, we cannot fit 2 elements per line.
*/
.inline-half{
    position: relative;
    float: left;
    width: 47%;
    margin: 1%;
}

.inline-quarter{
    position: relative;
    float: left; 
    width: 22%;
    margin: 1%;
}

.inline-half > *{
    width:100%;
    height: auto;
}