@import url("http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin");

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Ubuntu;
}

div{
    display: block;
}
/* for testing purposes
div{
    border-thickness: 1px;
    border-style: solid;
}
*/

.background-image{
    background-image: url('../assets/desserts.jpg');
    background-size: 100% auto%;
    background-repeat: no-repeat;
    background-position: left top;
/*    left: 0px;
    z-index: -1;*/
}

.margin-5{
    margin: 5%;
}

.full-height{
    height: 100%;
    min-height: 100%; !important;
    width: auto;
}

.inline-image{
    max-height: 20%;
}

.half-width{
    width: 50%;
    max-width: 50%;
    height: auto;
}

h3 > a{
    color: white;
    text-decoration: none;
}

.headline{
    position: absolute;
    margin-right: 5%;
    margin-top: -50%;
    width: 70%;
    background: linear-gradient(to top left, #33adff, #b3e0ff);
    opacity: .9;
    z-index: 1;
}

.content-display{
    position: absolute;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: -40%;
    width: 80%;
    background: linear-gradient(to bottom right, #33adff, #b3e0ff);
    opacity: .9;
    z-index: 1;
}

.full-width{
    width: 100%;
    min-width: 100% !important;
    height: auto;
}

.list{
    width: 85%;
}

.quarter-bottom{
    position: absolute;
    height: 25%;
    max-height: 25%;
    top: 74%;
    background-color: rgba(0,0,0,0.5);
    /*opacity: .3;
    background-color: black;*/
}

.container-no-margin{
    width: 100%;
    margin-top: 50px;
}

.container{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    width: 90%;
}

.overlay-text{
    opacity: 1;
    font-weight: bold;
    font-size: calc(14px + .2vw);
}

.overlay-container{
    position: relative;
    width: 100%;
    display: inline-block;
    color: white;
}
/*  

*/
.header-element{
    position:relative;
    overflow:hidden;
    display:table;
    width: 8%;
    top:0px;
    float:left;
}


.icon{
    filter: brightness(0) invert(1);
}

.header{
    background-color: #33adff;
    background: linear-gradient(to top, #33adff, #66c2ff);
    position: fixed;
    display: table;
    top: 0px;
    left: 0px;
    height: 50px !important;
    max-height: 50px !important;
    width:100%;
    padding-left: 10%;
    z-index: 1000;
}

.header-main-element{
    background-color: #33adff;
    background: linear-gradient(to top, #33adff, #66c2ff);
    position: relative;
    display: table-cell;
    
    /* The following 3 lines make the text centered vertically. DO NOT CHANGE THE ORDER. Man css sucks */
    vertical-align: middle;
    line-height:50px; /* keep the same as height */
    text-align: center;
    
    /* makes font size dynamic with page resize, but only to a minimum of 14 point font. */
    font-size: calc(14px + .5vw);
    
    padding-left:15px;
    padding-right:15px;
    
    float: left;
    height: 50px;    
}

.header-std-element{
    background-color: #33adff;
    background: linear-gradient(to top, #33adff, #66c2ff);
    position: relative;
    display: table-cell;
    
    /* The following 3 lines make the text centered vertically. DO NOT CHANGE THE ORDER. Man css sucks */
    vertical-align: middle;
    line-height:50px; /* keep the same as height */
    text-align: center;
    
    /* makes font size dynamic with page resize, but only to a minimum of 12point font. */
    font-size: calc(12px + .3vw);/*.85vw;*/
    
    padding-left:15px;
    padding-right:15px;
    
    float: left;
    height: 50px;
    top: 0px;
}

/* The following 3 stylings produce an under */
.header-std-element, .header-main-element{
    position: relative;
    color: #000;
    text-decoration: none;
}

.header-std-element:before, .header-main-element:before{
    content: "";
    position: absolute;
    
    /* width 75%, 12.5% on left to give a 12.5% margin on both sides of underline */
    width: 75%;
    left: 12.5%;
    height: 2px;
    bottom: 10px;
    
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

.header-std-element:hover:before, .header-main-element:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
}


.header-main-element, .header-std-element{
    color: white;
    height: 100%;
}

.header-main-element:hover, .header-std-element:hover{
    background-color: #808080;
    background: #008ae6;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

.left{
    text-align: left;
}

/*  */
.row{
    display: relative;
}

.col{
    flex: 1;
    padding: 1em;
}

table{
    border-collapse: collapse;
}

tr:nth-child(even) td{
    background-color: rgba(0,0,0,0.2);
}

th{
    text-align: left;
    color: black;
    background-color: rgba(0,0,0,0.3);
}

td{
    color: black;
    text-align: left;
}

/* only adds up to 49% (47 + 1% margin on both sides)
   This is because each element has a Teeeny tiny amount of white space  
   If we do 48% with 1% margin, we cannot fit 2 elements per line.
*/
.inline-half{
    position: relative;
    float: right;
    width: 47%;
    margin: 1%;
}

.inline-half-left{
    position: relative;
    float: left;
    width: 47%;
    margin: 1%;
}

.full{
    width: 97%;
    margin: 1%;
}

.inline-quarter{
    position: relative;
    float: left; 
    width: 22%;
    margin: 1%;
}

.inline-half > *{
    width:100%;
    height: auto;
}
